body {
box-sizing: border-box;
font-family: "Roboto", sans-serif;
color:#434455;
background-color: white;
line-height: 1.5;
letter-spacing: 0.02em;
font-size: 16px;
font-style: normal;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    display: block;
    padding: 0 15px;;

}
img{
    display:block;

}
h1 {
    color: white;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    width: 496px;
    

}

h2 {
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    padding-bottom: 72px
    

}
h2 ul{
    display: flex;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.2;
}

h1,
h2 {
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
a {
    text-decoration: none;
}
ul{list-style-type: none;}

ul, ol {
    margin: 0;
    padding-left: 0;
}

header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        background: var(--white);
}
.style-logo{
    color: #4D5AE5;
    font-size: 18px ;
}
.logo{
    font-size: 18px;
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight:700;
    text-transform: uppercase;
    
}
.location-header{
    display:flex;

}

.logo-end{
    font-size: 18px;
        color: #F4F4FD;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        font-weight: 700;
        text-transform: uppercase;
        
}
.navigation-header{
    display:flex;
    align-items:center;
    gap:76px;
}

.navigation{
display:flex;
gap:40PX;

}

.address-items{
color:#434455;
font-weight:400;
line-height: 1.5;
font-size: 1rem;
letter-spacing: 0.02em;
padding: 24px 0;
display:block;
font-style: normal;
transition-property: color;
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.nav-items{
    font-weight: 500;
    display: inline-block;
    padding: 24px 0;
    color: #2E2F42;
    position:relative;
    transition-property: color;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-items.current-page{
    position: relative;
    color:#404BBF;
}
.current-page::after{
    content: "";
    display: block;
    width:100%;
    height: 4px;
    left:0;
    bottom:-1px;
    background-color: #404BBF;
    border-radius: 2px;
    position: absolute;

}
.nav-items:hover,
.nav-items:focus,
.address-items:hover,
.address-items:focus
{ 
color: #404BBF;
}
.contact{
display:flex;
margin-left:auto;
gap:40px;
font-style: normal
}

 .cap{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    background-color: #2E2F42;
    padding: 188px 0;
    max-width: 1440px;;
    margin: 0 auto;
    background-image:  linear-gradient(to bottom , rgba(46, 47, 66, 0.7) 0%, rgba(46, 47, 66, 0.7) 100%), url(../images/people-office\1.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}  
/* Family: Roboto Weight: Medium Size: 16px Line Height: 24px Letter Spacing: 4% */
.button {
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;;
    padding:16px 32px;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
   transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    border: none;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
       
    
}
button:hover,
button:focus {
    background-color:#404BBF;
    
}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap: 48px;
    column-gap: 24px;
}
.container-portfolio-description{
 border: 1px solid #E7E9FC; 
border-top: none;
padding: 32px 16px;
}
.container-portfolio-description h3{
    padding-bottom: 8px;
}

.container-portfolio-items {
width: calc(( 100% - 48px ) / 3);
transition-property: box-shadow; 
transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-portfolio-items:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}
.overflow-container{
overflow: hidden;
position: relative;
}
.portfolio-overflow{
padding: 40px 32px;
background-color: #4D5AE5;
color: #F4F4FD;
position: absolute;
top: 0;
left:0;
width: 100%;
height:100%;
transform:translateY(100%);
transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.container-portfolio-items:hover .portfolio-overflow,
.container-portfolio-items:focus .portfolio-overflow{
    transform:translateY(0);
}

.privilege-container
{
display:flex;
gap: 24px;
}
.section{
    padding: 120px 0;
}
.privilege-container-items {
width: 264px;
font-size: 16px;
margin-bottom: 185px;
}



.privilege-box-svg{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    max-width: 100%;
    height: 112px;
    border: 1px solid #8E8F99;
    margin-bottom: 8px;
    background-color: #F4F4FD;
    

}
.privilege-icon{
    
}
.privilege-container-items h3{
    padding-bottom:8px;
}
.studio {
    background-color: #F4F4FD;
}

.team{
    
    display: flex;
    justify-content: center;
    gap:24px;
}
.team-members{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    
}
.team-members-description{
    padding: 32px 16px;
}
.container-team-link{
    display:flex;
    justify-content: center;
    gap:24px;
}

.team-svg-link{
   border-radius: 50%;
    background-color: #4D5AE5;
    width: 40px;
    height: 40px;
    position: relative;
    display: block;
    transition-property: background-color;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);  
}
.team-svg-link:hover,
.team-svg-link:focus {
    background-color: #404BBF;
}

.svg-link-items{
    position: absolute;
    top: 30%;
    left: 30%;
    /* transform: translate(75%, 75%); */
   
}

.team-members h3{
padding-bottom: 8px;
text-align:center;
}
.team-members p
{
    text-align:center;
    padding-bottom:8px;
}
.footer-container{
    padding-top: 100px;
    padding-bottom:100px;
    display: flex;
    align-items: baseline;
    gap: 120px;
}
.footer-links{
   display:flex;
   flex-direction:column;
   height: 80px;
   width: 208px;
   gap: 16px;
}
.container-team-link-footer{
display: flex;
gap:16px;
}

.container-team-link-footer .team-svg-link:hover,
.container-team-link-footer .team-svg-link:focus{
    background-color: #31D0AA;
}

.link-end{
    position: absolute;
    top:10px;
    left: 10px;
    transform: translate(-5%, -5%);
}

footer{
    background-color: #2E2F42; 
}
.and-text{
color:#F4F4FD;
line-height: 1.5;
font-weight: 400;
letter-spacing: 0.02em;
padding-top: 16px;
width: 264px;

}
.footer-links .and-text{
    font-weight:500;
    color:#fff;
}


