body {
box-sizing: border-box;
font-family: "Roboto", sans-serif;
color:#434455;
background-color: white;
line-height: 1.5;
letter-spacing: 0.02em;
font-size: 16px;
font-style: normal;
}
.container {
    max-width: 1158px;
    margin: 0 auto;
    display: block;
    padding: 15px 15px;;

}
img{
    display:block;

}
h1 {
    color: white;
    font-size: 56px;
    font-weight: bold;
    line-height: 1.07;
    letter-spacing: 0.02em;
    padding-bottom: 48px;
    width: 496px;
    

}

h2 {
    font-weight: bold;
    font-size: 2.25rem;
    letter-spacing: 0.02em;
    color: #2E2F42;
    line-height: 1.11;
    padding-bottom: 72px
    

}
h2 ul{
    display: flex;
}

h3 {
    font-size: 20px;
    letter-spacing: 0.02em;
    font-weight: 500;
    color: #2E2F42;
    line-height: 1.2;
}

h1,
h2 {
    text-align: center;
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}
h1, h2, h3, h4, h5, h6, p {
margin: 0;
}
a {
    text-decoration: none;
}
ul{list-style-type: none;}

ul, ol {
    margin: 0;
    padding-left: 0;
}

header{
    border-bottom: 1px solid #e7e9fc;
}
.style-logo{
    color: #4D5AE5;
    font-size: 18px ;
}
.logo{
    font-size: 18px;
    color:#2E2F42;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    font-weight:700;
    text-transform: uppercase;
    padding-right: 76px;
}
.location-header{
    display:flex;

}

.logo-end{
    font-size: 18px;
        color: #F4F4FD;
        font-family: "Raleway", sans-serif;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        font-weight: 700;
        text-transform: uppercase;
        
}
.navigation-header{
    display:flex;
    align-items:center;
    gap:76px;
}

.navigation{
display:flex;
gap:40PX;
}
.nav-items,
.address-items{
color: #434455;
font-weight:500;
line-height: 1.5;
font-size: 1rem;
letter-spacing: 0.02em;
padding: 24px 0;
display:block;
font-style: normal;

}
.nav-items:hover,
.nav-items:focus,
.address-items:hover,
.address-items:focus
{ 
color: #404BBF;
}
.contact{
display:flex;
margin:auto;
gap:40px;
font-style: normal
}

address .nav-items:hover,
address .nav-items:focus
{
color:#404BBF;
}


 .cap{ 
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 600px;
    background-color: #2E2F42;
    padding: 188px 0;
    
}  
/* Family: Roboto Weight: Medium Size: 16px Line Height: 24px Letter Spacing: 4% */
.button {
    background-color: #4D5AE5;
    color: white;
    font-size: 16px;;
    padding:16px 32px;
    letter-spacing: 0.04em;
    cursor: pointer;
    font-weight: 500;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
   
    border: none;
       
    
}
button:hover,
button:focus {
    background-color:#404BBF;
    
}

.container-portfolio {
    display: flex;
    flex-wrap: wrap;
    row-gap:48px;
    column-gap:24px;
    padding-bottom:120px;
}

.container-portfolio-items {
width: calc(( 100% - 48px ) / 3);
border: 1px solid #E7E9FC;

}
.container-portfolio-items img{
    width: 360px;
}
.container-portfolio-items h3{
    padding: 32px 0 8px 16px;
}
.container-portfolio-items p {
    padding: 0 0 32px 16px;
}

.privilege-container
{
display:flex;
gap: 24px;
}
.section{
    padding: 120px 0;
}
.privilege-container-items {
width: 264px;
height: 104px;
font-size: 16px;
}
.privilege-container-items h3{
    padding-bottom:8px;
}
.studio {
    background-color: #F4F4FD;
}
.container-team{
padding: 32px 16px;

}
.team{
    
    display: flex;
    justify-content: center;
    gap:24px;
}
.team-members{
    background-color: #FFFFFF;
    border-radius: 0 0 4px 4px;
    
}
.team-members img{
    width: 264px;
    height: 260px;;
}
.team-members h3{
padding: 32px 0 8px 0;
text-align:center;
}
.team-members p
{
    text-align:center;
    padding-bottom:32px;
}
.footer-container{
    padding-top: 100px;
    padding-bottom:100px;
}
footer{
    background-color: #2E2F42;
    
}
.and-text{
color:#F4F4FD;
line-height: 1.5;
font-weight: 400;
letter-spacing: 0.02em;
padding-top: 16px;
width: 264px;

}


